@theme-color:#f69;
@gray:#ccc;
@disable-color:#aaa;
.calendar{
	border: solid 2px desaturate(@theme-color, 30%);
	&:before{
		content: '';
		display: block;
		position: absolute;
		border-top: none;
		border-bottom: solid 12px desaturate(@theme-color, 30%);
		border-left: solid 12px transparent;
		border-right: solid 12px transparent;
		z-index: 10;
		left: 5px;
		top: -12px;
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		border-top: none;
		border-bottom: solid 12px #fff;
		border-left: solid 12px transparent;
		border-right: solid 12px transparent;
		z-index: 100;
		left: 5px;
		top: -10px;
	}
	.cal-header{
		margin: 5px 0;
		text-align: center;
		overflow: hidden;
		border-bottom: solid 1px desaturate(@theme-color, 30%);
		color: @theme-color;
		.cal-prev,.cal-next{
			display: inline-block;
			cursor: pointer;
			padding: 5px 30px;
			font-weight: bold;
		}
		.cal-prev{
			float: left;
		}
		.cal-next{
			float: right;
		}
		.cal-date-text{
			height: 26px;
			line-height: 26px;
			display: inline-block;
			cursor: pointer;
		}
	}
	.cal-header-day{
		background-color: #fff;
		text-align: center;
	}
	.cal-header-weekend{
		text-align: center;
		color: @theme-color;
		background-color: #fff;
	}
    .cal-day, .cal-month{
    	padding: 6px;
    	text-align: center;
    	background-color: #fff;
    	cursor: pointer;
    	border-radius: 5px;
    	&.cal-prev-month-day,&.cal-next-month-day{
    		color: #aaa;
    	}
	   	&:hover,&.cal-selected{
			background-color: @theme-color;
			color: #fff;
			&.cal-disabled{
				color: @disable-color;
				background-color: @gray;
				cursor: not-allowed;
			}
		}
		&.cal-disabled{
			&:hover{
				background-color: @gray;
			    cursor: not-allowed;
			}
			color: @disable-color;
			background-color: @gray;
			cursor: not-allowed;
		}
		&.cal-weekend{
			&:hover,&.cal-selected{
			    border-radius: 5px;	
				background-color: @theme-color;
			    color: #fff;
			}
			&.cal-disabled{
				background-color: @gray;
			    cursor: not-allowed;
			    color: @disable-color;
			}
			color: @theme-color;
			background-color: #fff;
		}
    }
	.cal-day-view{
	  	
	}
	.cal-day{
		&.cal-weekend{
			color: @theme-color;
		}
	}
}