@theme-color:#ff8fb5;
@theme-text-color:#dc4651;
@default-color:#555;
@disable-color:#aaa;
.calendar{
	font-family: arial, "宋体", sans-serif;
	box-sizing: border-box;
	border: solid 1px desaturate(@theme-color, 30%);
	width: 230px;
	font-size: 14px;
	color: @default-color;
	&:before{
		content: '';
		display: block;
		position: absolute;
		border-top: none;
		border-bottom: solid 8px desaturate(@theme-color, 30%);
		border-left: solid 8px transparent;
		border-right: solid 8px transparent;
		z-index: 10;
		left: 5px;
		top: -8px;
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		border-top: none;
		border-bottom: solid 8px #ff8fb5;
		border-left: solid 8px transparent;
		border-right: solid 8px transparent;
		z-index: 100;
		left: 5px;
		top: -7px;
	}
	table{
		width: 100%;
	}
	.cal-header{
		text-align: center;
		overflow: hidden;
		height: 50px;
		font-size: 20px;
		background-color: @theme-color;
		color: @theme-text-color;
		.cal-prev,.cal-next{
			display: block;
			cursor: pointer;
			font-weight: bold;
			width: 45px;
			line-height: 50px;
		}
		.cal-prev{
			float: left;
		}
		.cal-next{
			float: right;
		}
		.cal-date-text{
			display: block;
			cursor: pointer;
			margin: 0 45px;
			line-height: 50px;
		}
	}
	.cal-header-day,.cal-header-weekend{
		text-align: center;
		background-color: #fff;
		font-weight: bold;
		height: 26px;
		line-height: 26px;
	}
    .cal-day, .cal-month{
    	padding: 6px;
    	text-align: center;
    	background-color: #fff;
    	cursor: pointer;
    	border-radius: 5px;
	   	&:hover,&.cal-selected{
	   		background-color:  @theme-color;
			color: #fff;
			&.cal-disabled{
				color: @disable-color;
				cursor: not-allowed;
				background-color: #fff;
			}
		}
		&.cal-disabled{
			&:hover{
				color: @disable-color;
			    cursor: not-allowed;
			}
			color: @disable-color;
			cursor: not-allowed;
		}
    }
    .cal-hours{
    	text-align: center;
    	padding: 5px;
    	background-color: @theme-color;
    	color: @theme-text-color;
    	.underline-editor{
    		display: inline-block;
    		width: 30px;
    		text-align: center;
    		border-bottom: solid 1px @theme-text-color;
    		&:focus, &:active{
    			outline: none;
    			border: none;
    			border-bottom: solid 1px @theme-text-color;
    		}
    	}
    }
}